:root {
  --primary-color: #757575;
  --title-color: rgba(33, 33, 33, 1);
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-fw-title: 700;
  --bgc-our-team: rgba(245, 244, 250, 1);
  --bgc-secondary: rgba(47, 48, 58, 1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
ul,
p {
  margin: 0px 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Utility classes */
.list {
  list-style: none;
  padding-left: 0px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.no-padding {
  padding-top: 0px;
}
.section-text {
  color: var(--primary-color);
  margin-bottom: 0px;
  margin-top: 0px;
}
.features-list:nth-child(4) {
  margin-bottom: 94px;
}
/* Header */

.page-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.page-header-container {
  display: flex;
}
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.header-logo {
  margin-right: 93px;
}

.logo-black {
  color: var(--title-color);
}

/* Navigation */
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav-list {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  list-style: none;
  color: var(--title-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-item {
  position: relative;
}

.site-nav-link.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -125%;
  left: 0;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  align-items: center;
  display: flex;
  margin-left: auto;
}
.contacts .contacts-item + .contacts-item {
  margin-left: 30px;
}
.contacts-info {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-weight: 500;
  transition: color 250ms var(--timing-function);
}
.contacts-info:hover,
.contacts-info:focus {
  color: var(--accent-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav .current {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--bgc-secondary);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
}
/* Button */
.hero-button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;
  font-weight: var(--primary-fw-title);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-button {
  padding: 8px 22px;
  margin-right: 8px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--title-color);
  background: rgba(245, 244, 250, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.filter-button:last-child {
  margin-right: 0px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  align-items: center;
}

.featutes-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: var(--primary-fw-title);
  font-size: 14px;
  line-height: 1.5;
}

.features-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: rgba(245, 244, 250, 1);
}

/* Our work */
.section-title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: var(--primary-fw-title);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.section-subtitle {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.work {
  display: flex;
}

.work-example {
  position: relative;
  margin-right: 30px;
}
.work-example:last-child {
  margin-right: 0px;
}

.work-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.cardset-title {
  color: var(--title-color);
  font-weight: var(--primary-fw-title);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Our team */
.team-section {
  background-color: var(--bgc-our-team);
}
.team {
  display: flex;
}
.team-member {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  text-align: center;
}

.team-member .photo {
  display: block;
}
.team-member:last-child {
  margin-right: 0px;
}

.team-member-description {
  margin-bottom: 16px;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
  background: var(--accent-color);
}

.socials-icon {
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: rgba(255, 255, 255, 1);
}
/* Clients */
.clients-list {
  display: flex;
  align-items: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}
/* Footer */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-section {
  background: var(--bgc-secondary);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer.logo {
  display: inline-block;
  margin-bottom: 20px;
}
.logo-white {
  color: var(--primary-white-color);
}

.list a {
  text-decoration: none;
}
.footer-item {
  font-style: normal;
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0px;
}
.address-street-list {
  color: rgba(255, 255, 255, 1);
  transition: color 250ms var(--timing-function);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.address-street-list:hover,
.address-street-list:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-title {
  display: inline-flex;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}

.socials-link.footer-socials-link {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

.footer-socials {
  margin-left: 70px;
}

/* BACKDROP/MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;

  width: 528px;
  height: 581px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
/* PORTFOLIO */

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-card {
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-link:hover .card-description,
.portfolio-link:focus .card-description {
  opacity: 1;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  opacity: 0;
  background-color: var(--accent-color);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
}
.portfolio-image {
  position: relative;
}

.card-description {
  position: absolute;
  display: inline-block;
  width: 322px;
  height: 162px;
  top: 63px;
  left: 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.cardset-title {
  margin-bottom: 4px;
}

.portfolio-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
